$bg-color: #0e0e0e;
$white: #fff;

$button-bg-color: #111;
$button-border-color: #00fff2;
$button-text-color: #fff;
$button-hover-bg-color: #333;
$button-hover-border-color: #ffe839;
$button-hover-text-color: #00fff2;

