@use '../../styles/partials/typography'as *;
@use '../../styles/partials/variable' as *;

.header {
    font-family: 'Jeopardy';
    font-size: 4rem;
}
.price-box{
    display: flex;
    justify-content: center;
}