@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variable' as *;

.question {
    &__header {
        font-family: 'Jeopardy';
    }

    &__answers {
        width: 45rem;
        height: 10rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        .question__answer {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 20rem;
            list-style-type: none;
            border: 2px solid;
            height: 3rem;
        }
    }
}