@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variable' as *;

.question {
    &__header {
        font-family: 'Jeopardy';
        font-size: 3rem;
    }

    &__question {
        font-family: 'Price';
        background-color: white;
        color: black;
        width: fit-content;
        padding: 1rem;
        margin: 0 auto;
        border: 2px solid $button-border-color;
    }

    &__answers {
        width: 45rem;
        margin: 1rem auto;
        height: 10rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        .question__answer {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 20rem;
            list-style-type: none;
            border: 2px solid;
            height: 3rem;

            font-family: 'Price';
            background-color: $button-bg-color;
            border: 2px solid $button-border-color;
            color: $button-text-color;
            font-size: 1rem;
            font-weight: 600;
            cursor: pointer;
            margin: 1rem;
            transition: background-color 0.3s, border-color 0.3s, color 0.3s;
        
            &:hover {
                background-color: $button-hover-bg-color;
                border-color: $button-hover-border-color;
                color: $button-hover-text-color;
            }
        }
    }
}