@use './styles/partials/typography' as *;
@use './styles/partials/variable' as *;

#root {
  padding: 2rem;
  text-align: center;

}

$bg-color: #0e0e0e;
$white: #fff;
body {
  font-family: 'Jeopardy';
  background-color: $bg-color;
  background: url(./assets/J4o.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: $white;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  margin: 0;
}